{% extends 'base.html' %}
{% block title %} Zarządzanie pojazdami {% endblock %}
{% block content %}
    <p>CAR DETAILS</p>
    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col"><h3>Dane pojazdu:</h3></div>
                <div class="col d-flex justify-content-end mb-2">
                    <a href="" class="text border-solid rounded-0 pt-0 pb-0 pr-4 pl-4">Usuń</a>
                </div>
                <div class="col d-flex justify-content mb-2">
                    <a href="{% url 'url_car_modyfy' car.id %}" class="text border-solid rounded-0 pt-0 pb-0 pr-4 pl-4">Edycja</a>
                </div>
        </div>

        <div class="samples-content">
            <table class="table borderless">
                <tbody class="text-color-lighter">
                <tr class="d-flex">
                    <th scope="row" class="col-3">ID pojazdu:</th>
                    <td class="col-7">{{ car.id }}</td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-3">Marka:</th>
                    <td class="col-7">{{ car.brand }}</td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-3">Model:</th>
                    <td class="col-7">{{ car.model }}</td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-3">Przegląd do:</th>
                    <td class="col-7">{{ car.tech_review }}</td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-3">Wyposażony w lodówkę:</th>
                    <td class="col-7">{{ confirm }}</td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-3">Ostatnio prowadził:</th>
                    <td class="col-7">{kuriera imie i nazwisko lub brak}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text border-solid rounded-0 pt-0 pb-0 pr-4 pl-4">
            <a href="{% url 'url_cars_management' %}" >Wróć</a>
        </div>
    </div>
{% endblock content %}