{% extends 'base.html' %}
{% block title %} Logowanie {% endblock %}
{% block content %}
<div class="mt-4 ml-4 mr-4">
    <div class="col border-bottom border-3">
        <div><h3> Potwierdź resetowanie hasła</h3></div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text border-solid rounded-0 pt-0 pb-0 pr-4 pl-4" >
                <input type="submit" value="Potwierdź">
            </div>
        </form>
    </div>
</div>
{% endblock content %}